/* Placeholder styles for MinMaxFinder project. Keep original layout rules in root CSS where applicable. */
.minmax-root {
    margin: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

.params>div {
    display: flex;
    width: max-content;
}

.params {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.buttons {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: max-content;
}