.footer {
    padding: 5px;
    font-size: 10px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.disclaimer {
    display: block;
    text-align: center;
    color: white
}

.lastUpdated {
    margin: 0;
    text-align: center;
    color: white;
}

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
}