.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.postTitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.postDescription {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.postDates {
    line-height: 1.6;
    font-size: 1em;
    color: #333;
}