nav.topnav {
    background-color: white;
    position: fixed;
    top: 0;
    display: inline-flex;
    box-shadow: 0 0 8px black;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.headerImage {
    height: 40px;
    width: 40px;
}

.logo img {
    border-radius: 50%;
}

.logo {
    display: inline-flex;
    padding: 4px;
}

.logo>a {
    text-decoration: none;
}

.navMenu:before {
    content: "";
    display: inline-block;
    background-color: rgb(31, 31, 31);
    height: 30px;
    width: 0.5px;
    vertical-align: bottom;
    border-radius: .5px;
}

.navMenu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: stretch;
}

.menu {
    display: inline-flex;
    padding: 0;
}

.topNavMenu:not(:hover)>ul:not(:hover) {
    display: none;
}

.topNavMenu>ul:hover {
    display: initial !important;
}

.topNavMenu {
    margin: 0 8px;
    padding-right: 8px;
    display: flex;
    position: relative;
}

.topNavMenu:hover {
    cursor: pointer;
}

.topNavMenu>*:nth-child(1) {
    margin: 3px 8px 3px 8px;
    font-weight: bold;
}

.topNavMenu>ul {
    background-color: white;
    list-style: none;
    padding: 7px;
    margin-top: 20px;
    margin-left: -4px;
    text-align: left;
    min-width: 70px;
    box-shadow: 0 0 3px -1px black;
    position: absolute;
    z-index: 99999;
}

.topNavMenu>ul>li>a {
    text-decoration: none;
    padding: 3px 10px;
    display: block;
    color: rgb(31, 31, 31);
    transition: color 0.3s ease, background 0.3s ease;
}

.topNavMenu>ul>li:hover {
    text-decoration: none;
    color: rgb(71, 71, 71);
    background: rgba(0, 0, 0, 0.1);
}

.topNavMenu>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topNavMenu>ul.codeList>li {
    font-family: consolas, monospace;
}


.topNavMenu:not(.noarrow):hover::after,
.topNavMenu::after:is(* > ul:hover) {
    transform: rotate(-45deg) translateY(40%) translateX(-25%);
}

.topNavMenu:not(.noarrow)::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 0px;
    margin-top: 5px;
    margin-left: -2px;
    border-top: 2px solid #2f2f2f;
    border-right: 2px solid #2f2f2f;
    transform: rotate(135deg);
    transition: transform 0.3s ease;
}

.headerText {
    text-align: left;
    color: black;
    line-height: 28px;
    font: bold x-large Rubik;
    height: -webkit-fill-available;
}

.headerTextContainer {
    left: 0;
    text-align: center;
    padding: 5px;
    height: -webkit-fill-available;
    display: inline-flex;
    vertical-align: top;
    padding-top: 8px;
}

@media (max-width: 1000px) {
    nav.topnav {
        flex-direction: column;
        height: auto;
        align-items: center;
        /* Center elements vertically */
    }

    .navMenu::before {
        height: 0.5px;
        width: 50px;
        flex-basis: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }

    .navMenu {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .topNavMenu {
        margin: 5px 0;
    }

    .headerTextContainer {
        flex-direction: column;
        /* Stack header text vertically */
        align-items: center;
        /* Center text horizontally */
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 30px;
        height: 30px;
    }

    .headerText {
        font-size: medium;
    }

    .navMenu {
        font-size: 0.9em;
    }
}

.blackLink {
    text-decoration: none;
    color: rgb(31, 31, 31);
    transition: color 0.3s ease;
}

.blackLink:hover {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.blueLink {
    text-decoration: none;
    color: #2583ff;
    transition: color 0.3s ease;
}

.blueLink:hover {
    text-decoration: none;
    color: #0b3264;
}

.lightLink {
    text-decoration: none;
    color: rgb(225, 225, 225);
    transition: color 0.3s ease;
    cursor: pointer;
}

.lightLink:hover {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 769px) {}