.giantText {
    font-size: 2em;
}

.mainContent {
    padding: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    &>aside {
        justify-self: self-end;
    }
}

@media screen and (max-width: 1200px) {
    .mainContent {
        flex-direction: column-reverse;

        &>aside {
            position: static !important;
            align-items: center;
            margin: auto;

            & .forceGraphContainer {
                width: 30vh;
                height: 30vh;
            }
        }
    }
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .mainContent {
        padding-top: 8em !important;
    }
}

.postImage {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}