.giantText {
    font-size: 2em;
}

.mainContent {
    padding: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    &>aside {
        justify-self: self-end;
    }
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .mainContent {
        padding-top: 8em !important;
    }
}

.postImage {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}