.giantText {
    font-size: 2em;
}

.mainContent {
    padding: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .mainContent {
        padding-top: 8em !important;
    }
}