.infectionTableProject {
    text-align: center;
}

.infectionTableHeader {
    font-size: x-large;
    font-weight: bold;
}

table.infectionTable,
table.infectionTable :is(td, tr) {
    border: 1.5px solid var(--dark-text-color--hover);
}

table.infectionTable {
    border-spacing: 0px;
    margin: auto;
}

table.infectionTable :is(td, tr) {
    background-color: lightgray;
    width: 25px;
    height: 25px;
}

table.infectionTable td.active {
    background-color: skyblue;
}

.infectionTableWrapper button.activateButton::before {
    content: "Activate";
}

.infectionTableWrapper button.resetButton::before {
    content: "Reset";
}

.infectionTableWrapper button:is(.activateButton, .resetButton) {
    margin: auto;
    display: block;
}

.infectionTableWrapper {
    text-align: center;
}