body {
    margin: 0 !important;
    font: normal 14px arial;
    margin: 0 !important;
    // overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    font-family: inherit;
}

#__next {
    width: 100%;
    display: flex;
    flex-direction: column;
}

* {
    vertical-align: baseline;
    word-wrap: break-word;
    white-space-collapse: collapse;
}

:root {
    --dark-text-color: rgb(31, 31, 31);
    --dark-text-color--hover: rgb(71, 71, 71);
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.qoute::before {
    content: "";
    background-color: #2583ff;
    border-radius: 2px;
    margin: 5px;
    margin-right: 10px;
    padding: 1px;
}

.qoute::after {
    display: block;
    content: "--" attr(author);
    border-radius: 2px;
    margin: 5px;
    margin-right: 10px;
    padding: 1px;
}

.callout>.quote>span~strong:has(:not(p)) {
    display: none !important;
}

button {
    padding: 5px;
    border: none;
    border-radius: 2px;
    transition: 0.2s filter ease;
    margin: 1em;
}

button:hover {
    cursor: pointer;
    filter: brightness(65%);
}

#table-of-contents {
    margin-bottom: 1em;
    background-color: #f9f9f9;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0;
    box-shadow: 0px 3px 4px 3px #0000001a
}

#table-of-contents+:is(ul, ol) {
    padding: 10px;
    border-top: none;
    margin-top: 0;
    padding: 10px;
    margin-top: 0;
    padding-left: 2.5em;
    padding-right: 1em;
    background-color: #f9f9f9;
    box-shadow: -1px 7px 4px 3px #0000001a;

}

#table-of-contents::before {
    content: "🔗"
}

h1 {
    margin-bottom: 0.2em;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    border-top: 1px solid grey;
    box-shadow: 0px 1px 2px 0px #0000001a;
}



a {
    text-decoration: none;
    color: #2583ff;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0b3264;
}

.force-graph-container>canvas {
    border-radius: 5px;
    min-height: 20vw !important;
    min-width: 20vw !important;
}