body {
    margin: 0 !important;
    font: normal 14px arial;
    margin: 0 !important;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    font-family: inherit;
}

#__next {
    width: 100%;
    display: flex;
    flex-direction: column;
}

* {
    vertical-align: baseline;
    word-wrap: break-word;
    white-space-collapse: collapse;
}

:root {
    --dark-text-color: rgb(31, 31, 31);
    --dark-text-color--hover: rgb(71, 71, 71);
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.qoute::before {
    content: "";
    background-color: #2583ff;
    border-radius: 2px;
    margin: 5px;
    margin-right: 10px;
    padding: 1px;
}

.qoute::after {
    display: block;
    content: "--" attr(author);
    border-radius: 2px;
    margin: 5px;
    margin-right: 10px;
    padding: 1px;
}

.callout>.quote>span~strong:has(:not(p)) {
    display: none !important;
}