body {
    margin: 0 !important;
    font: normal 14px arial;
    margin: 0 !important;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    font-family: inherit;
}

#__next {
    width: 100%;
    display: flex;
    flex-direction: column;
}